<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/SecurePages/SecurePage.aspx" loginUrl="~/Pages/Login.aspx" slidingExpiration="true" timeout="2880"/>
    </authentication>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="connReg" connectionString="Dsn=dtsrcReg;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    <add name="connUpdate" connectionString="Dsn=dtsrcReg;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    <add name="connLogInV" connectionString="Dsn=dtsrcReg;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    <add name="PartyReg" connectionString="Dsn=dtsrcReg;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    <add name="PartyUpd" connectionString="Dsn=dtsrcReg;uid=root;pwd=root" providerName="System.Data.Odbc"/>
    <add name="partyDel" connectionString="Dsn=votingX;uid=root;pwd=root" providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>