<?xml version="1.0"?>
<configuration>
    <system.web>
      <!-- Deny Access to the Secure Pages for Anonymous Users-->
      <authorization>
        <deny users="?"/>
        <!-- ? - Means Users which have not been authenticated ||| * - Means All Users which we do not use here -->
      </authorization>
    </system.web>
</configuration>
